@import "../utils/mixins.scss";
@import "../utils/variables.scss";


.header {
    height: 100px;
    width: 100%;
    background-color: $header-background-color;
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    &-logo {
        display: flex;
        align-items: center;
        img {
            cursor: pointer;
            height: 65px;
            margin-left: 50px;
        }
    }
    &-filtre {
        &--active {
            position: absolute;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
            animation: arriveeFlou 0.5s;
        }
    }
    &-liens {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: 700px) {
            li {
                display: none;
            }
            svg {
                display: block !important;
                cursor: pointer;
                margin-right: 30px;
            }
        }
        svg {
            display: none;
        }
        li {
            @media screen and (max-width: 1800px) {
                margin-right: 6vw;
            }
            margin-right: 5vw;
            @include text-color("normal");
            @include text-style("desktop");
            &:hover {
                cursor: pointer;
                @include text-color("hover");
            }
            &:active {
                @include text-color("clicked");
            }
        }
    }
}


@keyframes arriveeFlou {
    from {
        opacity: 0;
    } to {
        overflow: 1;
    }
}

