@import "../utils/mixins.scss";
@import "../utils/variables.scss";



.header {
    .page {
        height: 100px;
        width: 100%;
        background-color: $header-background-color;
        display: flex;
        position: relative;
        left: 0;
        top: 0;
        z-index: 0;
    }
    &-logo {
        display: flex;
        align-items: center;
        img {
            cursor: pointer;
            height: 65px;
            margin-left: 50px;
        }
    }
    &-liens {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: 700px) {
            li {
                display: none;
            }
            svg {
                display: block !important;
                cursor: pointer;
                margin-right: 30px;
            }
        }
        svg {
            display: none;
        }
        li {
            margin-right: 6vw;
            @include text-color("normal");
            @include text-style("desktop");
            &:hover {
                cursor: pointer;
                @include text-color("hover");
            }
            &:active {
                @include text-color("clicked");
            }
        }
    }
}

