@import "../utils/mixins.scss";
@import "../utils/variables.scss";

$test: #fff;
.header {
    height: 100px;
    width: 100%;
    background-color: $header-background-color;
    display: flex;
    &-logo {
        img {
            height: 65px;
        }
    }
}
    